In [2]:
from finta import TA
import pandas as pd

In [3]:
df = pd.read_csv("../datasets/BTC-USD.csv")

In [6]:
TA.SMA(df, 5)

0                NaN
1                NaN
2                NaN
3                NaN
4        9522.730664
            ...
1246    30382.340630
1247    30448.786724
1248    30456.169536
1249    30477.925078
1250    30539.958203
Name: 5 period SMA, Length: 1251, dtype: float64

In [7]:
df.head(10)

,Date,Open,High,Low,Close,Volume,T10YIE,SP500,SOFR180DAYAVG,IHLIDXUS,OBMMIC15YF
0,2020-02-03,9344.683594,9540.372070,9248.633789,9293.521484,3.093410e+10,1.63,3248.920000,1.80147,99.970000,3.102000
1,2020-02-04,9292.841797,9331.265625,9112.811523,9180.962891,2.989318e+10,1.64,3297.590000,1.79861,100.030000,3.126000
2,2020-02-05,9183.416016,9701.299805,9163.704102,9613.423828,3.522206e+10,1.66,3334.690000,1.79587,100.120000,3.099000
3,2020-02-06,9617.821289,9824.619141,9539.818359,9729.801758,3.762882e+10,1.67,3345.780000,1.79295,100.240000,3.118000
4,2020-02-07,9726.002930,9834.716797,9726.002930,9795.943359,3.452272e+10,1.66,3327.710000,1.79004,100.200000,3.091000
5,2020-02-08,9792.454232,9962.665625,9639.855990,9819.432943,4.049942e+10,1.65,3347.535714,1.77560,99.754667,3.108214
6,2020-02-09,9792.454232,9962.665625,9639.855990,9819.432943,4.049942e+10,1.65,3347.535714,1.77560,99.754667,3.108214
7,2020-02-10,10115.559570,10165.765625,9784.563477,9856.611328,3.938655e+10,1.66,3352.090000,1.78079,100.260000,3.090000
8,2020-02-11,9855.891602,10210.052734,9729.334961,10208.236328,3.764806e+10,1.65,3357.750000,1.77771,100.230000,3.115000
9,2020-02-12,10202.387695,10393.611328,10202.387695,10326.054688,4.344430e+10,1.66,3379.450000,1.77435,100.190000,3.118000